@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { @apply antialiased; }
  body { @apply text-slate-800 bg-gray-50; }
  h1 { @apply text-2xl font-semibold; }
  h2 { @apply text-lg font-medium; }
  label { @apply text-sm; }
}
